<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List</title>
</head>
<body>
<a href="/adddepartment">Add a Department</a><br/>
<a href="/add">Add a Employee</a><br/>

<table>
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Jobtitle</th>
        <th>Actions</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.jobtitle}"></td>
        <td th:text="${employee.nameofdepartment}"></td>


        <td>
            <a th:href="@{/update/{id}(id=${employee.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${employee.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${employee.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>